# Xcode
.DS_Store
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
build/
*.xcarchive/
*.ipa
*.app
*.dSYM.zip
*.mobileprovision
*.xcworkspace/
Pods/
Carthage/Build/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/xcuserdata/
.swiftpm/xcode/DerivedData/
.swiftpm/xcode/build/

# Swift Package Manager
.build/

# CocoaPods
Pods/
!Pods/Manifest.lock

# Fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

# Other
.DS_Store
.localized
